{% extends 'base.html.twig' %}

{% block body %}
    <h1>List</h1>
    <table>
        <tbody>
        <tr>
            <th>n° review (id)</th>
            <th>text</th>
            <th>User Rated</th>
            <th>Review Authors</th>
            <th>date</th>
            <th>note</th>
        </tr>

        {% for review in reviews %}
        <tr>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <td>{{ review.text }}</td>
        </tr>
        <tr>
            <td>{{ review.UserRated }}</td>
        </tr>
        <tr>
            td>{{ review.reviewAuthors }}</td>
        </tr>
        <tr>
            <td>{{ review.publicationDate }}</td>
        </tr>
        <tr>
            <td>{{ review.note }}</td>
        </tr>
{% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}">add review</a>

{% endblock %}

